{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="add-mantan">
	<div class="page-header">
		<h2>App Tambah Mantan</h2>
	</div>

	<form action="{{ url_for('kode.add_mantan') }}" method="post">
	 <!-- form contents should be sent to the add_mantan() function in the kode Blueprint using the ‘POST’ HTTP method -->
		{{ form.csrf_token }}
		<dl>
			{{ render_field(form.nama_mantan, placeholder="Tambah nama mantan") }}
			{{ render_field(form.alasan_putus, placeholder="Alasan putus") }}
		</dl>
		
		<button class="btn btn-sm btn-success" type="submit">Tambahkan Mantan</button>
	</form>
</div>
{% endblock %}