{% extends "base.html" %}
{% block title %}App daftar mantan{% endblock %}

{% block content %}
    <div class="page-header">
      <h2>Mantan</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
            <tr>
              <th>Nama</th>
              <th>Alasan putus</th>
            </tr>
          </thead>
          <tbody>
            {% for mantan in mantans %}
            <tr>
              <td>{{ mantan.nama_mantan }}</td>
              <td>{{ mantan.alasan_putus }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}