{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% from "_form_macros.html" import render_field %}

{% block content %}
<div class="user-registration">
	<div class="page-header">
		<h2>Please Register your new account</h2>
	</div>

	<form action="{{ url_for('users.register') }}" method="post">
		{{ form.csrf_token }}
		<dl>
			{{ render_field(form.email, placeholder="Email address") }}
			{{ render_field(form.password, placeholder="Password") }}
			{{ render_field(form.confirm, placeholder="Confirm password") }}
		</dl>
		<button class="btn btn-sm btn-success" type="submit">Create New Account</button>
	</form>
</div>
{% endblock %}