{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="add-recipe">
    <div class="page-header">
        <h2>New Password:</h2>
    </div>
    <form action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
        {{ form.csrf_token }}
        <dl>{{ render_field(form.password, placeholder="Enter New Password") }}</dl>
        <button class="btn btn-sm btn-success" type="submit">Update</button>
    </form>
</div>

{% endblock %}